* {
	box-sizing: border-box;
}

:root {
	--line-height: 50px;
	--margin-left: 20px;
}

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.layout {
	display: grid;
	height: 100vh;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 50px auto 50px;
	grid-template-areas:
		"header header header header header header header header header header"
		"section section section section section section section section aside aside"
		"footer footer footer  footer footer footer footer footer footer footer";
}

header,
section,
aside,
footer {
	position: relative;
}

header {
	grid-area: header;
	background-color: #03a9f4;
}

section {
	grid-area: section;
	background-color: #ff5722;
}

aside {
	grid-area: aside;
	background-color: #607d8b;
}

footer {
	grid-area: footer;
	background-color: #009688;
}

header::before,
section::before,
aside::before,
footer::before {
	position: absolute;
	line-height: var(--line-height, 50px);
	margin-left: var(--margin-left, 20px);
	color: white;
}

header::before {
	content: "Header";
}

section::before {
	content: "Section";
}

aside::before {
	content: "Aside";
}

footer::before {
	content: "Footer";
}
