div {
    width: 400px;
    height: 400px;
    background-image: url('../../imgs/asgmt58.png');
    background-color: #eeeeee;
    color: hotpink;
    margin: auto;
    background-repeat: no-repeat;
}

.assign-4-shape-1 {
    background-size: 80% 80%;
}

.assign-4-shape-2 {
    background-repeat: repeat-y;
    background-position: right top;
    background-size: 80%;
}

.assign-4-shape-3 {
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: auto 80%;
}

.assign-4-shape-4 {
    background-position: right bottom;
    background-size: auto;
}