p {
	margin: 10px 0;
}

.a {
	font-family: "Open Sans";
	font-weight: 300;
	font-style: italic;
}

.b {
	font-family: "Cairo";
	font-weight: 700;
}

.c {
	font-family: "Jomhuria";
	font-weight: 400;
}
