* {
	box-sizing: border-box;
}

div {
	position: relative;
	width: 600px;
	height: 100px;
	margin: 30px auto;
	background-color: #eee;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 10px;
	text-align: center;
	line-height: 80px;
	border-top: 10px solid transparent;
	border-left: 10px solid #f44336;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #673ab7;
}

div::first-letter {
	color: #f44336;
}

div::before,
div::after {
	content: "";
	position: absolute;
	width: 600px;
	height: 10px;
	left: -10px;
	background-image: linear-gradient(
		to right,
		#f44336 20%,
		#2196f3 20%,
		#2196f3 40%,
		#4caf50 40%,
		#4caf50 60%,
		#e91e63 60%,
		#e91e63 80%,
		#6639b6 80%
	);
}

div::before {
	top: -10px;
}

div::after {
	bottom: -10px;
}
