* {
	box-sizing: border-box;
	font-family: sans-serif;
}

div {
	position: relative;
	width: 400px;
	margin: 20px auto;
	font-size: 20px !important;
	text-align: center;
	background-color: #eeeeee !important;
	color: transparent !important;
	border: none !important;
}

div::before {
	content: "Elzero";
	position: absolute;
	width: 20%;
	font-weight: bold;
	background-color: #eeeeee;
	color: black;
}
