* {
	box-sizing: border-box;
	font-family: sans-serif;
}

div {
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-right: 20px;
	position: relative;
	counter-increment: element;
	float: left;
	background-color: #eeeeee;
	border: 2px solid black;
	border-radius: 50%;
	box-shadow: 5px 5px 0 0 #2196f3, -5px -5px 0 0 #e91e63;
}

div::before {
	content: counter(element);
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 50%;
	right: 40px;
	top: -10px;
}

div::after {
	content: "Element";
	position: absolute;
	text-align: center;
	top: 40px;
	right: 20px;
}
