* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

.class {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 40px auto;
	background-color: darkorchid;
	transform: matrix(3, 0.2679, 0, 3, 20, 100);
}

/* === Assignment Solution === */
/*
    transform: translateX(20px) translateY(100px) scaleX(3) skewY(15deg)
		skewX(0deg) scaleY(3);
*/
